
.Appcontent{
    height:auto;
    min-height:630px;
  }

body{
    color:white;
}
.min-height-500{
    min-height:500px;
}

.customerAddForm .form-group{
    padding-bottom: 5px !important;
}
.customer-list .thead .tr .td,
.customer-list .tr .td{
    padding:4px !important;
}
.hideElement{
    display:none;
}
.name-label{
    font-weight: bold;
    font-size: 14px;
}

a.active{
    border-bottom:2px solid rgb(175, 75, 75); 
}